
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* Header */
header{
    background-color: #17324f;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a{
    margin: 15px;
    font-size: 26px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-family: 'Bebas Neue', cursive;
}
.title{
    font-size: 18px;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    color: white;

}
.lien{
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Formulaire de recherche */

/* Style the search field */
form.example input[type=text] {
    padding: 8px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 70%;
    background: #f1f1f1;
}
/* Style the submit button */
form.example button {
    width: 20%;
    padding: 8px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

/* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
}
/* contenu */

h1{
    font-size: 30px;
    font-family: 'montserrat', cursive;
}
.content p{
    font-size: 20px;
    font-family: 'montserrat', cursive;
    text-align: center;
    color: #313131;
}
.content h1{
    text-align: center;
    font-family: 'montserrat', cursive;
    color: #17324f;
}
.content h3{
    text-align: center;
    font-family: 'montserrat', cursive;
    text-decoration: underline;

}
.content .img{
    text-align: center;
}
.content {
    margin: 30px;
    padding: 80px;
    background-color: whitesmoke;
    box-shadow: 8px 8px 12px #aaa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}
main{
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}
/* Bouton */
.btn{
    background-color: #17324f; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'montserrat', cursive;
    text-align: center;
    display: flex;
    justify-content: center;
}
/* Footer */
footer{
    background-color: #17324f;
    position:relative;
    bottom: 0;
}
footer div{
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
}
.reseaux img{
    width: 70px;
    height: auto;
}



