{% extends 'base.html.twig' %}

{% block content %}

    {% for author in authors %}
        <div class="content">
            <a class="img" href="https://placeholder.com"><img src="https://via.placeholder.com/250x150"></a>
        <h1>{{ author.name }}</h1>
        <h1>{{ author.firstName }}</h1>


            <a class="btn" href="{{ path('author', {'id': author.id}) }}">Voir la fiche de l'auteur</a>

        </div>

    {% endfor %}

{% endblock %}