{% extends 'base.html.twig' %}

{% block content %}

        <div class="content">
            <a href="{{path('authors_by_biography', {'id': author.id}) }}" >{{ author.name }}</a>


        </div>


{% endblock %}